@import url("https://fonts.googleapis.com/css?family=Oswald");

:root {
    --background: #000;
    --text: #FFF;
    --highlight: #FFF;
    --modebutton: #000;
    --rev_bk: #FFF;
    --rev_text: #000;
}

body {
    background: var(--background);
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    top: 500px;
    transition: 0.5s background ease;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.theme-switch {
    --background: #FFF;
    --text: #000;
    --rev_bk: #000;
    --rev_text: #FFF;
    color: var(--text);
    width: 70px;
    height: 30px;
    background: var(--highlight);
    border-radius: 50px;
    position: fixed;
    right: 50px;
    top: 25px;
    overflow: auto;    
}

.theme-switch .switch {
    width: 24px;
    height: 24px;
    background: var(--modebutton);
    border-radius: 100%;
    position: absolute;
    top: 3px;
    left: 4px;
    transition: 0.5s all ease;
}

.light-theme {
    --background: #FFF;
    --text: #000;
    --highlight: #000;
    --modebutton: #FFF;
    --rev_bk: #000;
    --rev_text: #FFF;
    background: var(--background);
}

.light-theme .theme-switch {
    background: var(--text);
}

.light-theme .theme-switch .switch {
    transform: translateX(37px);
}

.light-theme a {
    color: var(--text);
}

/* Navigators */
.navigation {
    display: flex;
    justify-content: center;
}

.dashboard-nav {
    min-width: 238px;
    position: fixed;
    left: 0;
    top: 0;
    overflow: auto;
    margin: 10px 30px;
    color: var(--text);
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    list-style-type: none;
}

.dashboard-nav-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.dashboard-nav a {
    margin: 10px 30px;
    position: relative;
    color: var(--text);
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

.dashboard-nav a:before {
    position: absolute;
    bottom: -2px;
    content: "";
    width: 100%;
    height: 3px;
    background: var(--highlight);
    transform: translateX(-100%);
    opacity: 0;
}

/* added on 12/7/2023 */
.dashboard-nav a:hover {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: var(--rev_bk);
    color: var(--rev_text);
}

/* commented on 12/7/2023
.dashboard-nav a:hover:before {
    opacity: 1;
    transition: 0.5s transform ease, 0.8s opacity ease;
    transform: translateX(0);
    color: var(--highlight);
}
*/

.dashboard-nav .active {
    color: var(--highlight);
}

.dashboard-nav .active:hover:before {
    opacity: 0;
}

/* nav for droplist */
.dashboard-nav-dropdown {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.dashboard-nav-dropdown:hover .dashboard-nav-dropdown-item {
    min-height: 40px;
    padding: 8px 20px 8px 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    transition: ease-out 0.5s;
}

.dashboard-nav-dropdown:hover .dashboard-nav-dropdown-menu {
    display: flex;
}

.dashboard-nav-dropdown-menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.dashboard-nav-dropdown-item {
    min-height: 40px;
    padding: 8px 20px 8px 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    transition: ease-out 0.5s;
}

/*
.dashboard-nav-dropdown-item:hover {
    background: rgba(255, 255, 255, 0.04);
}
*/

.dashboard-nav-dropdown-item:hover {
    background: var(--rev_bk);
    color: var(--rev_text);
}

/* TABLE LAYOUT */
display {
    background-color: var(--rev_bk);
    color: var(--rev_text);
}

.bottom_panel {
    left: 0px;
    top: 150px;
}
/*
.bottom_panel {
    padding: 16px;
    margin-top: 30px;
    height: 1500px; 
  }
*/

