{% extends 'index.html' %} {% block header %}
<h1 class="header-title">Beacon Huntress: Filtered Hosts</h1>
<p class="header-subtitle"><a href="/">Home</a> / Settings / Filtered Hosts</p>

{% endblock %} {% block content %}
<h4>Filtered Hosts</h4>
{% if messages %} {% for message in messages %}
<div class="alert alert-success">
  <span
    class="alert_closebtn"
    onclick="this.parentElement.style.display='none';"
    >&times;</span
  >
  {{ message }}
</div>
{% endfor %} {% endif %} {{ files|safe }} {% endblock %}
