art==5.7
boto3==1.21.46
botocore==1.24.46
click==8.1.0
elasticsearch==8.5.1
fastparquet==0.8.1
mysqlclient==2.1.0
numpy==1.21.6
pandas==2.0.3
progress==1.6
pyarrow==8.0.0
pymemcache==4.0.0
PyMySQL==1.0.2
PyYAML==6.0
scikit-learn==1.0.2
SQLAlchemy==1.4.36
urllib3==1.26.9
Django==4.2.2
django-bootstrap-v5==1.0.11
django-crispy-forms==2.0
crispy-bootstrap4==2022.1
# NEW
redis==5.2.1
celery==5.2.7
django-celery-results
channels
daphne
channels-redis