{% extends 'index.html' %} {% block header %}
<h1 class="header-title">Beacon Huntress: Search For Beacons</h1>
<p class="header-subtitle">
  <a href="/">Home</a> / Search / Detailed Cluster Search
</p>

{% endblock %} {% block content %} {% load crispy_forms_tags %}
<h4>Execute New Detailed Cluster Search</h4>
<form action="" method="post">
  {% csrf_token %} {{form | crispy }}
  <div class="mt-3">
    <button
      type="submit"
      value="Run"
      class="btn btn-primary"
      onclick="document.body.style.cursor='wait'"
    >
      Run
    </button>
  </div>
</form>

{% endblock %}
