{% extends 'index.html' %} {% block header %}
<h1 class="header-title">Beacon Huntress: Persistent Connections</h1>
<p class="header-subtitle">Setup / Persistent Connections</p>

{% endblock %} {% block content %} {% load crispy_forms_tags %}
<h4>Persistent Connections</h4>
<p>
  In order to run Persistent Connections you must use the correct logs. Default
  Zeek logs will not work!
</p>
<form action="" method="post">
  {% csrf_token %} {{form | crispy }}

  <button type="submit" value="Run" class="btn btn-primary">Run</button>
</form>

{% endblock %}
