{% extends 'index.html' %} {% block header %}
<h1 class="header-title">Result Details</h1>
<p class="header-subtitle"><a href="/">Home</a> / <a href="Results.html">Results</a> / Result Details</p>
{% endblock %} {% block content %}

{% if messages %}
    {% for message in messages %}
    <div
    class="alert alert-success alert-dismissible fade show"
    role="alert"
    style="padding: 15px"
  >
    {{ message }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
    {% endfor %}
{% endif %}

{{ files|safe }}

{% endblock %}